<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
* {
	font-family: Microsoft YaHei, Simsun;
	font-size: 12px;
	color: #444;
	margin: 0;
}
html, body {
	background-color: #f2f2f2;
}
body {
	padding: 20px;
}
#wrapper {
	background-color: #f9f9f9;
	padding: 20px;
}
h1 {
	font-size: 28px;
	color: #0088de;
}
h2 {
	margin-top: 10px;
	font-size: 16px;
}
p {
	margin-top: 5px;
}
.link {
	color: #0063db;
}
#footer {
	margin-top: 20px;
	border-top: solid 1px #dedede;
	height: 45px;
	text-align: right;
}
.button {
	display: block;
	width: 144px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	color: white;
	text-align: center;
	border: solid 1px #db7500;
	background-color: #fcac00;
	text-decoration: none;
}
.button:hover {
	text-decoration: none;
}
</style>
<body>
<div id="wrapper" >
<h1>${domain}</h1>
<h2>Hi, ${email}！</h2>
<p>欢迎使用Belink协同社区平台</p>
<p>请点击以下按钮完成注册激活（72小时内有效）</p>
<p><a target="_blank" class="button" href="http://www.belink.com/portal/regist/activation?id=${id}">激活</a></p>
<p>或者将以下链接复制到浏览器地址栏进入到激活页面：</p>
<p><a target="_blank" href="http://www.belink.com/portal/regist/activation?id=${id}">http://www.belink.com/portal/regist/activation?id=${id}</a></p>
<div id="footer" >
	<img src="http://www.belink.com/resources/images/mail_logo.png" />
</div>
</div>
</body>
</html>