.navbar-custom .ui-btn {
    padding-top: 40px;
}
.ui-page-theme-uap .ui-btn:hover {
    border-color: #00a1ea;
}
.ui-page-theme-uap .ui-btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-custom .ui-btn:after {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background-position: center center;
    background-repeat: no-repeat;
}

.mybar1:after {
    background: url(../img/tab_home_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.mybar2:after {
    background: url(../img/tab_setting_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.mybar3:after {
    background: url(../img/tab_camera_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.mybar4:after {
    background: url(../img/tab_shoppingcart_touch.png);
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
}

.mybar5:after {
    background: url(../img/tab_concact_touch.png);
    -webkit-background-size: 24px 25px;
    background-size: 24px 25px;
}

html body .custom-mini {
    padding: .4em .7em;
    font-size: 14px;
}

.navbar-custom-notext .ui-btn {
    text-indent: -99999px;
}

.navbar-custom-notext .ui-btn:after {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -15px;
}

.uap-mybar-notext1:after {
    background: url(../img/tab_home_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.uap-mybar-notext2:after {
    background: url(../img/tab_setting_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.uap-mybar-notext3:after {
    background: url(../img/tab_camera_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.uap-mybar-notext4:after {
    background: url(../img/tab_concact_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}

.uap-mybar-notext5:after {
    background: url(../img/tab_shoppingcart_touch.png);
    -webkit-background-size: 25px;
    background-size: 25px;
}
.ui-btn.ui-icon-uap-back.ui-btn-icon-left {
    background: none;
    border: none;
    color:#fff;
}
.ui-btn.ui-icon-uap-back.ui-btn-icon-left:active{
    background: none;
    border: none;
    color:#fff;
    opacity: .6;
}
.ui-btn.ui-icon-uap-back:after {
    background: url(../img/ui-icon-uap-back.png) center center;
    border-radius: 0;
}

.ui-icon-uap-home {
    background: none !important;
    border: none !important;
}

.ui-icon-uap-home:after {
    background: url(../img/ui-icon-uap-home.png) center center;
    border-radius: 0 !important;
}

.ui-listview .ui-icon-custom {
    position: relative;
}

.ui-listview .ui-icon-custom:after {
    background-color: transparent;
    background-image: url(../img/arr.png);
    -webkit-background-size: 50%;
    background-size: 50%;
}

.ui-listview .ui-icon-custom .state {
    position: absolute;
    right: 40px;
    font-weight: normal;
}

.ui-block-a.default, .ui-block-a.default, .ui-block-b.default, .ui-block-c.default, .ui-block-d.default, .ui-block-e.default {
    height: 60px;
}
a {
    text-decoration: none;
}

/*
 * 输入框样式(带说明性文字)
 */
.uap-input-caption  span:first-child{
	font-weight:bold;
}
/*
 * 用户登录输入框样式
 */
.ui-input-text .uap-input-user, .ui-input-text .uap-input-psw {
    background: url(../css/themes/default/images/icons-png/user-black.png) 10px 50% no-repeat;
    padding: 0.6em 2em;
    -webkit-background-size: 16px;
    background-size: 16px;
}
.ui-input-text  .uap-input-psw {
    background-image: url(../css/themes/default/images/icons-png/lock-black.png);
}

/*
 * 圆形开关样式
 */
.uap-switch  .ui-slider-track.ui-slider.ui-slider-switch {
    border-radius: 15px;
    width: 52px;
    vertical-align: middle;
}
